* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    color: white;
}

body {
    background: url(../images/page-background.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80vw;
    max-width: 80%;
    background-color: rgb(106, 90, 90);
    height: 70vh;
    box-shadow: 0 0 5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    font-size: 1rem;
    font-weight: bold;
    background: rgb(106, 90, 90);
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
}

.btn:hover {
    padding: 15px;
}

.options {
    padding: 10px;
   /* order: 3;  what does this property do ? */
}

.btn-option {
    display: block;
    width: 500px;
}

.controls {
    padding: 10px;
   /* order: 4; */
}

.hide {
    display: none;
}

.nf-img {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
}

#question-text {
    font-size: 1.2rem;
    padding-bottom: 20px;
}

@media screen and (max-width: 375px) {
    #question-text {
        font-size: 0.8rem;
    }

    .btn {
        font-size: 0.7rem;
        margin: 2px;
    }

    #question-text {
        padding: 10px;
        margin: 10px;

    }
    .controls {
        padding: 10px;
    }

    .btn-option {
        width: 230px !important; /* FIX THIS */ 
    }
}

@media screen and (max-width: 280px) {
    .btn {
        font-size: 0.6rem;
    }
    .controls {
        padding: 0;
    }
    #question-text {
        padding: 10px;
        font-size: 0.6rem;
    }
    .btn-option {
        width: 100px;
    }
}

@media screen and (max-width: 720px) {
    .btn-option {
        width: 450px;
    }
}

@media screen and (max-width: 615px) {
    .btn-option {
        width: 200px !important;
    }
}

